.home_bg{
  height: 100%;
  position: relative;
  overflow: auto;
  background-color: #fff
}
.top_item{
  height: 50%;
  background-image: url('../../assets/imgs/home/home_bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}
.wzg {
  height: 50%;
  background-image: url('../../assets/imgs/home/backgrwz.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}

.home_name{
  position: absolute;
  left: 50px;
  top: 150px;
}
.home_title{
  color: #333;
  font-size: 60px;
  font-weight: normal;
  font-weight: 600
}
.home_title > strong {
  font-size: 70px
}
.home_title_welcome{
  color: #fff;
  font-size: 60px;
  font-weight: 100;
}

.btn_wrap{
  width: 210px;
  height: 210px;
  border-radius: 50%;
  background: url('../../assets/imgs/home/door_on.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: -130px;
}
.btn_wrap:active {
  background: url('../../assets/imgs/home/door_off.png');
  background-size: cover; 
}
.figure_wrap{
  position: absolute;
  top:50%;
  left:5%;
  width: 90%;
  /* float: left; */
}
/* .figures {
  display: flex;
  flex-wrap: wrap;
} */
.figures > a{
  width: 33.3%;
  float: left
}
.home_figure{
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #fafafa;
  border-left: 1px solid #fafafa;
}

.home_figure>figcaption{
  color: #666;
  font-size: 36px;
  margin-top: 20px;
}
.figure_active {
  box-shadow: 10px 10px 5px #ccc;
}
.curtain>img{
  width: 77px
}
.light>img{
  width: 68px;
  height: 78px;
}
.air>img{
  width: 77px;
}
.tv>img{
  width: 77px
}
.model>img{
  width:73px;
}
.service>img{
  width: 75px;
}
.dianti>img{
  width: 64px;
}
.temCtrl >img {
  width: 70px
}



.home_envir_play {
  font-size: 40px;
  color: #ff7c1d;
  position: absolute;
  top: 100px;
  right: 50px;
}
.home_envir_item {
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  align-items: center
}
.home_envir_item>span{
  margin-left: 40px
}
.home_envir_item:last-child>span{
  margin-left: 20px
}
.home_envir_item_left{
  text-align: center
}
.home_envir_item_left > span{
  display: block;
  font-size:24px;
  color: #333
}

.first_modal{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
}
.modal_wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -105px;
}
.modal{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff
}

